html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #444;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 100%;
    background-color: #fff;
}

.filters .modeButtons button.active {
    background-color: #066c1a;
    color: #fff;
}

#sprotty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

.sprotty-graph {
    width: 95%;
    height: 60%;
    background-color: #fff;
}


.sprotty-node {
    fill: #c0e0fc;
    stroke: #444;
    stroke-width: 1;
}

.selected .sprotty-node, .selected .sprotty-node.added {
    fill: #81BB41;
}

.sprotty-node.added {
    fill: #f6864e;
}

.sprotty-node.hoverFeedback {
    fill: #ee4ef6;
}

text {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 10pt;
    text-anchor: middle;
}

.sprotty-edge {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}